.custom-button {
	border-radius: 5px;
	width: auto;
	letter-spacing: 1px;
	padding: 10px 15px;
	margin: 0 5px;
	font-size: 15px;
	background-color: black;
	border: 1px solid black;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
	font-weight: bolder;
	cursor: pointer;

	&:hover {
		background-color: white;
		color: black;
	}

	&.google-sign-in {
		background-color: #4285f4;
		color: white;
		border: none;

		&:hover {
			background-color: #357ae8;
		}
	}
}
